#### Data Manipulation with Pandas

In [4]:
import pandas as pd

df = pd.read_csv('data.csv')
# print(df)

df.head(5)

,Row ID,Product ID,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,1,OFF-PA-10000174,Third Party,Paper,16.448,2,0.2,5.5512
1,2,OFF-BI-10004094,Third Party,Binders,3.540,2,0.8,-5.4870
2,3,OFF-LA-10003223,Third Party,Labels,11.784,3,0.2,4.2717
3,4,OFF-ST-10002743,Third Party,Storage,272.736,3,0.2,-64.7748
4,5,OFF-AR-10003478,Third Party,Art,19.536,3,0.2,4.8840

In [10]:
## Handling missing values
df.isnull()
## any it will give you true and false on the basis of column names 
df.isnull().any()
## sum of all missing values
df.isnull().sum()
## fill missing values
filled_values = df.fillna(0)
## when get missing values then filled that with mean of that column
df['sales_fiilValue'] = df['Sales'].fillna(df['Sales'].mean())
print(df)

     Row ID       Product ID     Category Sub-Category    Sales  Quantity  \
0         1  OFF-PA-10000174  Third Party        Paper   16.448         2
1         2  OFF-BI-10004094  Third Party      Binders    3.540         2
2         3  OFF-LA-10003223  Third Party       Labels   11.784         3
3         4  OFF-ST-10002743  Third Party      Storage  272.736         3
4         5  OFF-AR-10003478  Third Party          Art   19.536         3
..      ...              ...          ...          ...      ...       ...
292     293  FUR-FU-10003192  Direct Sale  Furnishings  177.680         2
293     294  OFF-AP-10003842  Third Party   Appliances  154.900         5
294     295  OFF-PA-10001593  Third Party        Paper   33.488         7
295     296  OFF-PA-10002986  Third Party        Paper   26.720         5
296     297  OFF-PA-10004248  Third Party        Paper   15.840         3

     Discount   Profit  sales_fiilValue
0         0.2   5.5512           16.448
1         0.8  -5.4870            3.540
2         0.2   4.2717           11.784
3         0.2 -64.7748          272.736
4         0.2   4.8840           19.536
..        ...      ...              ...
292       0.0  46.1968          177.680
293       0.0  40.2740          154.900
294       0.2  10.4650           33.488
295       0.2   9.3520           26.720
296       0.0   7.1280           15.840

[297 rows x 9 columns]

In [16]:
## Renaming column
df = df.rename(columns={'Sales':'Monthly Sales'})
# print(df)

df.dtypes
# changing datatype -> float64 to int64
df['Profit_Value'] = df['Profit'].astype(int)
# df.head()

## operations like increasing my multiplying or adding somevalue
df['Doubled_Value'] = df['Monthly Sales'].apply(lambda x:x*2)
df.head()

,Row ID,Product ID,Category,Sub-Category,Monthly Sales,Quantity,Discount,Profit,sales_fiilValue,Profit_Value,Doubled_Value
0,1,OFF-PA-10000174,Third Party,Paper,16.448,2,0.2,5.5512,16.448,5,32.896
1,2,OFF-BI-10004094,Third Party,Binders,3.540,2,0.8,-5.4870,3.540,-5,7.080
2,3,OFF-LA-10003223,Third Party,Labels,11.784,3,0.2,4.2717,11.784,4,23.568
3,4,OFF-ST-10002743,Third Party,Storage,272.736,3,0.2,-64.7748,272.736,-64,545.472
4,5,OFF-AR-10003478,Third Party,Art,19.536,3,0.2,4.8840,19.536,4,39.072

In [17]:
## Data Aggregation and grouping

grouped_mean = df.groupby('Product ID')['Monthly Sales'].mean()
print(grouped_mean)

Product ID
FUR-BO-10001337    205.666
FUR-BO-10001972    241.960
FUR-BO-10003034    333.999
FUR-BO-10003433     61.960
FUR-BO-10003966    290.666
                    ...
TEC-PH-10004614    124.200
TEC-PH-10004667    323.976
TEC-PH-10004700      9.990
TEC-PH-10004833    155.350
TEC-PH-10004977    391.980
Name: Monthly Sales, Length: 266, dtype: float64

In [19]:
## apply multiple aggrigator functions
grouped_agg = df.groupby('Product ID')['Monthly Sales'].agg(['mean','sum','median'])
print(grouped_agg)

                    mean      sum   median
Product ID
FUR-BO-10001337  205.666  205.666  205.666
FUR-BO-10001972  241.960  483.920  241.960
FUR-BO-10003034  333.999  333.999  333.999
FUR-BO-10003433   61.960   61.960   61.960
FUR-BO-10003966  290.666  290.666  290.666
...                  ...      ...      ...
TEC-PH-10004614  124.200  124.200  124.200
TEC-PH-10004667  323.976  323.976  323.976
TEC-PH-10004700    9.990    9.990    9.990
TEC-PH-10004833  155.350  155.350  155.350
TEC-PH-10004977  391.980  391.980  391.980

[266 rows x 3 columns]

In [23]:
## Merging and Joining DataFrame
df1 = pd.DataFrame({'Key':['A','B','C'],'Values':[1,2,3]})
df2 = pd.DataFrame({'Key':['A','B','F'],'Values':[4,5,6]})

## merge dataframe based on 'Key column' 
pd.merge(df1,df2,on='Key',how='inner')
## with outer join
pd.merge(df1,df2,on='Key',how='outer')

  Key  Values_x  Values_y
0   A       1.0       4.0
1   B       2.0       5.0
2   C       3.0       NaN
3   F       NaN       6.0

In [3]:
import pandas as pd
medicineDataset = pd.read_csv('Medicine_Details.csv')
medicineDataset.head(5)
data = medicineDataset[medicineDataset['Medicine Name'] == 'Paracetamol']
print(data)

Empty DataFrame
Columns: [Medicine Name, Composition, Uses, Side_effects, Image URL, Manufacturer, Excellent Review %, Average Review %, Poor Review %]
Index: []